    /*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 de ago. de 2023, 21:47:36
    Author     : Pedro
*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.content-responsive {
    flex: 1;
    background-color: #3b3b3b;
    padding: 10vh;
    min-height: 94.2vh;
}

.container-fluid {
    font-family: Arial, sans-serif;
}

.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
    padding: 1.25rem;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}

.dropdown-container {
    position: relative; /* Garante que o position:absolute do dropdown funcione */
}

.dropdown-menu {
    position: absolute;
    z-index: 1000; /* Valor alto para garantir sobreposição */
}